<%= form_with model: @score, local: true do |f|%>
  <div class="field">
    <%= f.label :title, "This Weekday Competition" %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :score, "Your's Score" %><br />
    <%= f.text_area :score, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :ranking, "Your's Ranking" %><br />
    <%= f.text_area :ranking, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :image, "Your's Photo" %><br />
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>