<div class="card">
  
   <h2><%= "スコア#{score.score}点" %></h2>
   <%= link_to image_tag(score.image, class: :card__img ),score_path(score.id) %>
  <div class="card__body">
    <%# <%= link_to score.schedule_id, score_path(score.id), class: :card__title%> 
    
    <%# <p class="card__summary"> %>
      <%= "#{score.user.name}さん" %>
      <%= "(#{score.user.profile.name}所属)" %>
    <%# </p> %>

    </div>
    
</div>