<main class="main">
  
  
  <div class="inner">
    <%# <div class="title-contents"> %>
    <%# </div> %>
    <div class="card__wrapper">


     <div class="yama"><h1><%= "ä»Šé€±ã®ç¬¬ä¸€ä½#{@scores[0].user.name}ã•ã‚“"%></h1>
     
     <h1 class="yama1"><%= "(#{@scores[0].user.profile.name}æ‰€å±ž)" %></h1></div>
     <h2><%= @scores[2].schedule.name %></h2>
    <%= link_to image_tag @scores[0].image %><br>  
    
   
      

      <h1><%="ã‚¹ã‚³ã‚¢#{ @scores[0].score }ç‚¹"%></h1> 
   
      </div>
  </div>

  <h1><%= link_to "ðŸŽ³ã‚¹ã‚³ã‚¢ä¸€è¦§ðŸŽ³" ,scores_path %></h1>
</main>
